/* Add some margin between the body and the top of the page */
body {
  margin-top: 20px;
  background-color: black;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 20px;
  box-shadow: 2px 2px 4px rgba(157, 154, 164, 0.5);
  color: rgb(115, 188, 251);
}


.container {
  padding: 20px;
  color:rgb(84, 139, 186);
}

/* Add some margin between the rows */
.row {
  margin-bottom: 20px;
  color:rgb(237, 240, 246);

}

/* Add some margin and padding to the search city box */
.col-sm-4 {
  margin-bottom: 20px;
  padding: 20px;
  color:rgb(91, 132, 193);

}
#future-weather .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#future-weather .forecast {
  flex: 0 0 auto;
  margin-right: 10px;
}


/*  Clear history button */
#clear-history {
  margin-bottom: 10px;
  background-color: rgb(91, 132, 193);
  border-color: black;
}

/* Add some margin to the current weather section */
#current-weather {
  margin-bottom: 20px;
}

#future-weather {
  margin-top: 20px;
  margin-bottom: 20px;
  
}


.forecast {
  margin-right: 20px;
  color:rgb(91, 132, 193);

}
